<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a routerLink="/">
                        HomePage
                    </a>
                </li>
                <li>
                    <a routerLink="matches" routerLinkActive="active">Matches</a>
                </li>
                <li>
                    <a routerLink="pronos" routerLinkActive="active">Pronostiques</a>
                </li>
                <li>
                    <a routerLink="players" routerLinkActive="active">Players</a>
                </li>
                <li>
                    <a>Contact</a>
                </li>
            </ul>
        </div>
</div>