.logoTeam{
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.buttonRight{
    background-color: #16197A;
    border : none;
    height:250;
    width: 10;
    display: inline-block;
}

.buttonLeft{
    background-color: #C0090D;
    border : none;
    height:250;
    width: 10;
    display: inline-block;
}