<!--
<div *ngFor="let match of matchs" class="input-group">
  <div class="row">
      <div class="col-sm-3">
        <span class="input-group-addon" id="basic-addon2">{{match.home}}</span>
      </div>
      <div class="col-sm-3">
        <span class="input-group-addon" id="basic-addon2">{{match.away}}</span>
      </div>
      <div class="col-sm-2">
        <select class="form-control" id="sel1">
            <option>{{match.home}}</option>
            <option>{{match.away}}</option>
        </select>
      </div>
</div>
</div>
-->
<h2>Matches</h2>
<div class="card card-block">
<div class="row" *ngFor="let match of matchs">
  <div class="col-lg-4">
    <span>{{match.date}}</span>
  </div>
  <div class="col-lg-4">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
      <span class="input-group-addon">{{match.home}}</span>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
      <span class="input-group-addon">{{match.away}}</span>
    </div>
  </div>
</div>
</div>