<!--
<div *ngFor="let match of matchs" class="input-group">
  <div class="row">
      <div class="col-sm-3">
        <span class="input-group-addon" id="basic-addon2">{{match.home}}</span>
      </div>
      <div class="col-sm-3">
        <span class="input-group-addon" id="basic-addon2">{{match.away}}</span>
      </div>
      <div class="col-sm-2">
        <select class="form-control" id="sel1">
            <option>{{match.home}}</option>
            <option>{{match.away}}</option>
        </select>
      </div>
</div>
</div>
-->
<h2>Matches</h2>
<div class="card card-block">
<div class="row">
  <div class="col-lg-2">
    <button class="btn btn-secondary">Previous day</button>
  </div>
  <div class="col-lg-8">
    <h4 class="text-lg-center">Current Day</h4>
  </div>
  <div class="col-lg-2">
    <button class="btn btn-secondary">Next day</button>
  </div>
</div>
<div class="row card match-row" *ngFor="let match of matches">
  <div class="col-lg-6 ">
      <div class="row">
        <div class="col-lg-9">
        <p>{{match.home.city}}</p>
        </div>
        <div class="col-lg-3">
      <img src='{{match.home.logo}}'  class="img-fluid" width="100px" height="100px"/>
      </div>
      </div>
  </div>
  <div class="col-lg-6 ">
      <div class="row">
        <div class="col-lg-3">
      <img src='{{match.away.logo}}'  class="img-fluid" width="100px" height="10px"/>
      </div>
      <div class="col-lg-9">
        <p>{{match.away.city}}</p>
      </div>
  </div>
  </div>
</div>
</div>