<h1 style="text-align:center">Matches</h1>

<div class="card card-block">
  <div class="row">
    <div class="col-lg-2">
      <button class="btn btn-secondary" (click)="previousDate()"><i class="fa fa-arrow-left"></i></button>
    </div>
    <div class="col-lg-8">
      <h4 class="text-lg-center">{{date|date}}</h4>
    </div>
    <div class="col-lg-2">
      <button class="btn btn-secondary" (click)="nextDate()"><i class="fa fa-arrow-right"></i></button>
    </div>
  </div>
  <div class="row card match-row" *ngFor="let match of matches">
    <div class="col-lg-6 team" [ngClass]="{'team-valid':teamIsChosen(match,match.home),'team':!teamIsChosen(match,match.home)}"
      (click)="toggleSelection(match,match.home)">
      <div class="row">
        <div class="col-lg-9">
          <p>{{match.home.city}}</p>
        </div>
        <div class="col-lg-3">
          <img src='{{match.home.logo}}' class="img-fluid" width="100px" height="100px" />
        </div>
      </div>
    </div>
    <div class="col-lg-6 team" [ngClass]="{'team-valid':teamIsChosen(match,match.away),'team':!teamIsChosen(match,match.away)}"
      (click)="toggleSelection(match,match.away)">
      <div class="row">
        <div class="col-lg-3">
          <img src='{{match.away.logo}}' class="img-fluid" width="100px" height="10px" />
        </div>
        <div class="col-lg-9">
          <p>{{match.away.city}}</p>
        </div>
      </div>
    </div>
  </div>
</div>